<table width="360" border="0" cellspacing="5px">
	<tbody>
		<tr>
			<td>
				<span>xTrade Match:</span> &nbsp;&nbsp;&nbsp; 
				<span style="color: rgba(36,157,219,1);font-weight: 600;">2-way trade</span>
				<br>
				<br>
									<table width="360" border="0" cellspacing="5px">
						<tbody>
							<tr>
								<td align="center" colspan="3">
									<img src="assets/images/email/2_way_arrow_r.png" alt="" />
								</td>
							</tr>
							<tr>
								<td align="center"><table width="140" border="0" cellspacing="0px" height="320">
	<tbody>
		<tr>
			<td align="center" style="color: #000;border-bottom: 1px solid black;" width="140px">A</td>
		</tr>
		<tr>
			<td height="50px" align="center" valign="middle" style="color: #000;background: rgba(36,157,219,1);font-size: 11px;color: rgba(255,255,255,1);font-weight: 600;position: relative;border-left: 1px solid black;  border-right: 1px solid black;">
				Your Home 			</td>
		</tr>
		<tr>
			<td style="color: #000;border-left: 1px solid black;  border-right: 1px solid black;" valign="top">
				<div align="center" style="color: #000;width: 140px;"><img src="assets/images/listings/crea/16880572_1.jpg" style="width: 140px;height: 100px;margin-top: -1px;"></div>
			</td>
		</tr>
		<tr>
			<td style="color: #000;border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black;" valign="top">
				<div align="center">
					<div class="text" style="color: #000;width: 140px;color: rgba(0,0,0,1);font-size: 12px;">
						<h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 6px;">$594,900.00</h3>
						<p style="color:#000">
							42 GLEN OAK CT<br>
							Canada<br>
							Ontario<br>
						</p>
						<span style="color: #000;font-size: 10px;">Client:  <br>Listing ID: NA623406</span>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table></td>
								<td align="center"><img src="assets/images/email/shuffle.png" alt="" /></td>
								<td align="center"><table width="140" border="0" cellspacing="0px" height="320">
	<tbody>
		<tr>
			<td align="center" style="border-bottom: 1px solid black; color: #000" width="140px">B</td>
		</tr>
		<tr>
			<td height="50px" align="center" valign="middle" style=" color: #000;background: rgba(36,157,219,1);font-size: 11px;color: rgba(255,255,255,1);font-weight: 600;position: relative;border-left: 1px solid black;  border-right: 1px solid black;">
				Your Match 			</td>
		</tr>
		<tr>
			<td style="color: #000;border-left: 1px solid black;  border-right: 1px solid black;" valign="top">
				<div align="center" style="color: #000;width: 140px;"><img src="assets/images/listings/crea/16926899_1.jpg" style="color: #000;width: 140px;height: 100px;margin-top: -1px;"></div>
			</td>
		</tr>
		<tr>
			<td style="color: #000;border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black;" valign="top">
				<div align="center">
					<div class="text" style="color: #000;width: 140px;color: rgba(0,0,0,1);font-size: 12px;">
						<h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 6px;">$649,900.00</h3>
						<p style="color: #000">
							41 JODIE'S LN<br>
							Canada<br>
							British Columbia<br>
						</p>
						<span style="color: #000;font-size: 10px;"><a href="listing/detail/2_16926899">View Listing</a><br></span>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table></td>
							</tr>
						</tbody>
					</table>
					<br>
							</td>
		</tr>
	</tbody>
</table><table width="360" border="0" cellspacing="5px">
	<tbody>
		<tr>
			<td>
				<span>xTrade Match:</span> &nbsp;&nbsp;&nbsp; 
				<span style="color: rgba(36,157,219,1);font-weight: 600;">2-way trade</span>
				<br>
				<br>
									<table width="360" border="0" cellspacing="5px">
						<tbody>
							<tr>
								<td align="center" colspan="3">
									<img src="assets/images/email/2_way_arrow_r.png" alt="" />
								</td>
							</tr>
							<tr>
								<td align="center"><table width="140" border="0" cellspacing="0px" height="320">
	<tbody>
		<tr>
			<td align="center" style="color: #000;border-bottom: 1px solid black;" width="140px">A</td>
		</tr>
		<tr>
			<td height="50px" align="center" valign="middle" style="color: #000;background: rgba(36,157,219,1);font-size: 11px;color: rgba(255,255,255,1);font-weight: 600;position: relative;border-left: 1px solid black;  border-right: 1px solid black;">
				Your Home 			</td>
		</tr>
		<tr>
			<td style="color: #000;border-left: 1px solid black;  border-right: 1px solid black;" valign="top">
				<div align="center" style="color: #000;width: 140px;"><img src="assets/images/listings/000011_1.jpg" style="width: 140px;height: 100px;margin-top: -1px;"></div>
			</td>
		</tr>
		<tr>
			<td style="color: #000;border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black;" valign="top">
				<div align="center">
					<div class="text" style="color: #000;width: 140px;color: rgba(0,0,0,1);font-size: 12px;">
						<h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 6px;">$455,000.00</h3>
						<p style="color:#000">
							1234 Oldaddress<br>
							Canada<br>
							British Columbia<br>
						</p>
						<span style="color: #000;font-size: 10px;">Client:  <br>Listing ID: NA840408</span>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table></td>
								<td align="center"><img src="assets/images/email/shuffle.png" alt="" /></td>
								<td align="center"><table width="140" border="0" cellspacing="0px" height="320">
	<tbody>
		<tr>
			<td align="center" style="border-bottom: 1px solid black; color: #000" width="140px">B</td>
		</tr>
		<tr>
			<td height="50px" align="center" valign="middle" style=" color: #000;background: rgba(36,157,219,1);font-size: 11px;color: rgba(255,255,255,1);font-weight: 600;position: relative;border-left: 1px solid black;  border-right: 1px solid black;">
				Your Match 			</td>
		</tr>
		<tr>
			<td style="color: #000;border-left: 1px solid black;  border-right: 1px solid black;" valign="top">
				<div align="center" style="color: #000;width: 140px;"><img src="assets/images/listings/000009_1.jpg" style="color: #000;width: 140px;height: 100px;margin-top: -1px;"></div>
			</td>
		</tr>
		<tr>
			<td style="color: #000;border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black;" valign="top">
				<div align="center">
					<div class="text" style="color: #000;width: 140px;color: rgba(0,0,0,1);font-size: 12px;">
						<h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 6px;">$567,777.00</h3>
						<p style="color: #000">
							2900 Tatla Place<br>
							Canada<br>
							British Columbia<br>
						</p>
						<span style="color: #000;font-size: 10px;"><a href="listing/detail/0_NA383649">View Listing</a><br></span>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table></td>
							</tr>
						</tbody>
					</table>
					<br>
							</td>
		</tr>
	</tbody>
</table><table width="360" border="0" cellspacing="5px">
	<tbody>
		<tr>
			<td>
				<span>xTrade Match:</span> &nbsp;&nbsp;&nbsp; 
				<span style="color: rgba(36,157,219,1);font-weight: 600;">2-way trade</span>
				<br>
				<br>
									<table width="360" border="0" cellspacing="5px">
						<tbody>
							<tr>
								<td align="center" colspan="3">
									<img src="assets/images/email/2_way_arrow_r.png" alt="" />
								</td>
							</tr>
							<tr>
								<td align="center"><table width="140" border="0" cellspacing="0px" height="320">
	<tbody>
		<tr>
			<td align="center" style="color: #000;border-bottom: 1px solid black;" width="140px">A</td>
		</tr>
		<tr>
			<td height="50px" align="center" valign="middle" style="color: #000;background: rgba(36,157,219,1);font-size: 11px;color: rgba(255,255,255,1);font-weight: 600;position: relative;border-left: 1px solid black;  border-right: 1px solid black;">
				Your Home 			</td>
		</tr>
		<tr>
			<td style="color: #000;border-left: 1px solid black;  border-right: 1px solid black;" valign="top">
				<div align="center" style="color: #000;width: 140px;"><img src="assets/images/listings/000009_1.jpg" style="width: 140px;height: 100px;margin-top: -1px;"></div>
			</td>
		</tr>
		<tr>
			<td style="color: #000;border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black;" valign="top">
				<div align="center">
					<div class="text" style="color: #000;width: 140px;color: rgba(0,0,0,1);font-size: 12px;">
						<h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 6px;">$567,777.00</h3>
						<p style="color:#000">
							2900 Tatla Place<br>
							Canada<br>
							British Columbia<br>
						</p>
						<span style="color: #000;font-size: 10px;">Client:  <br>Listing ID: NA383649</span>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table></td>
								<td align="center"><img src="assets/images/email/shuffle.png" alt="" /></td>
								<td align="center"><table width="140" border="0" cellspacing="0px" height="320">
	<tbody>
		<tr>
			<td align="center" style="border-bottom: 1px solid black; color: #000" width="140px">B</td>
		</tr>
		<tr>
			<td height="50px" align="center" valign="middle" style=" color: #000;background: rgba(36,157,219,1);font-size: 11px;color: rgba(255,255,255,1);font-weight: 600;position: relative;border-left: 1px solid black;  border-right: 1px solid black;">
				Your Match 			</td>
		</tr>
		<tr>
			<td style="color: #000;border-left: 1px solid black;  border-right: 1px solid black;" valign="top">
				<div align="center" style="color: #000;width: 140px;"><img src="assets/images/listings/000011_1.jpg" style="color: #000;width: 140px;height: 100px;margin-top: -1px;"></div>
			</td>
		</tr>
		<tr>
			<td style="color: #000;border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black;" valign="top">
				<div align="center">
					<div class="text" style="color: #000;width: 140px;color: rgba(0,0,0,1);font-size: 12px;">
						<h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 6px;">$455,000.00</h3>
						<p style="color: #000">
							1234 Oldaddress<br>
							Canada<br>
							British Columbia<br>
						</p>
						<span style="color: #000;font-size: 10px;"><a href="listing/detail/0_NA840408">View Listing</a><br></span>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table></td>
							</tr>
						</tbody>
					</table>
					<br>
							</td>
		</tr>
	</tbody>
</table><table width="360" border="0" cellspacing="5px">
	<tbody>
		<tr>
			<td>
				<span>xTrade Match:</span> &nbsp;&nbsp;&nbsp; 
				<span style="color: rgba(36,157,219,1);font-weight: 600;">2-way trade</span>
				<br>
				<br>
									<table width="360" border="0" cellspacing="5px">
						<tbody>
							<tr>
								<td align="center" colspan="3">
									<img src="assets/images/email/2_way_arrow_r.png" alt="" />
								</td>
							</tr>
							<tr>
								<td align="center"><table width="140" border="0" cellspacing="0px" height="320">
	<tbody>
		<tr>
			<td align="center" style="color: #000;border-bottom: 1px solid black;" width="140px">A</td>
		</tr>
		<tr>
			<td height="50px" align="center" valign="middle" style="color: #000;background: rgba(36,157,219,1);font-size: 11px;color: rgba(255,255,255,1);font-weight: 600;position: relative;border-left: 1px solid black;  border-right: 1px solid black;">
				Your Home 			</td>
		</tr>
		<tr>
			<td style="color: #000;border-left: 1px solid black;  border-right: 1px solid black;" valign="top">
				<div align="center" style="color: #000;width: 140px;"><img src="assets/images/listings/crea/16926899_1.jpg" style="width: 140px;height: 100px;margin-top: -1px;"></div>
			</td>
		</tr>
		<tr>
			<td style="color: #000;border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black;" valign="top">
				<div align="center">
					<div class="text" style="color: #000;width: 140px;color: rgba(0,0,0,1);font-size: 12px;">
						<h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 6px;">$649,900.00</h3>
						<p style="color:#000">
							41 JODIE'S LN<br>
							Canada<br>
							British Columbia<br>
						</p>
						<span style="color: #000;font-size: 10px;">Client:  <br>Listing ID: NA474193</span>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table></td>
								<td align="center"><img src="assets/images/email/shuffle.png" alt="" /></td>
								<td align="center"><table width="140" border="0" cellspacing="0px" height="320">
	<tbody>
		<tr>
			<td align="center" style="border-bottom: 1px solid black; color: #000" width="140px">B</td>
		</tr>
		<tr>
			<td height="50px" align="center" valign="middle" style=" color: #000;background: rgba(36,157,219,1);font-size: 11px;color: rgba(255,255,255,1);font-weight: 600;position: relative;border-left: 1px solid black;  border-right: 1px solid black;">
				Your Match 			</td>
		</tr>
		<tr>
			<td style="color: #000;border-left: 1px solid black;  border-right: 1px solid black;" valign="top">
				<div align="center" style="color: #000;width: 140px;"><img src="assets/images/listings/crea/16880572_1.jpg" style="color: #000;width: 140px;height: 100px;margin-top: -1px;"></div>
			</td>
		</tr>
		<tr>
			<td style="color: #000;border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black;" valign="top">
				<div align="center">
					<div class="text" style="color: #000;width: 140px;color: rgba(0,0,0,1);font-size: 12px;">
						<h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 6px;">$594,900.00</h3>
						<p style="color: #000">
							42 GLEN OAK CT<br>
							Canada<br>
							Ontario<br>
						</p>
						<span style="color: #000;font-size: 10px;"><a href="listing/detail/2_16880572">View Listing</a><br></span>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table></td>
							</tr>
						</tbody>
					</table>
					<br>
							</td>
		</tr>
	</tbody>
</table>